<div class="title-area">
    <h1>Submit a Confession</h1>
    <%= link_to 'Back to All Confessions', confessions_path %>
</div>

<div class="container">
    <%= render "form", confession: @confession %>
</div>