<div class="title-area">
    <h1>Rules</h1>
</div>

<div class="container">
    <p><strong>The Millennial Mom Confessional</strong> is managed to keep it real, safe, and dirty. (I <em>do</em> have standards!)</p>

    <p>If you are not seeing your confession anymore, it could be because of one or more of these reasons:</p>

    <p><strong>1. It doesn't qualify as a confession.</strong> A confession is defined as: “An admission or acknowledgment that one has done something that one is ashamed or embarrassed about.”</p>
    
    <p><strong>2. It's one of the following:</strong> A reaction, a question or poll; A statement or mundane observation; A threat or confession directed towards a particular person; Something that&#8217;s worrisome or overly cruel. A confession also won&#8217;t be approved if it&#8217;s broken into several parts.</p>
    
    <p><strong>3. Hate Speech: </strong>We do not tolerate hate speech of any kind. No racism, misogyny, xenophobia, homophobia, transphobia, or ableist views will be accepted.</p>
    
    <p><strong>4. Unfortunate timing.</strong> The Confessional serves two purposes:<br>
    1. To liberate the confessor and<br>
    2. To entertain the reader.<br>
    If there are 15 confessions in a row relating to the same exact thing (yes, sometimes that happens,) they may not all be approved. This is nothing personal, as every confession is 100% anonymous. We apologize if this is a cause of frustration, but it&#8217;s a necessary step to keep the space running well.</p>
    
    <p><strong>Confused by all of the abbreviations? Here are some of the most common:</strong></p>
    
    <p>AAMOF = as a matter of fact<br>
    BBL = be back later<br>
    BF = boyfriend or best friend<br>
    BIL = brother-in-law<br>
    BRB = be right back<br>
    BTDT = been there, done that<br>
    BTW = by the way<br>
    BAK = back at keyboard<br>
    BBS = be back soon<br>
    BBFN = bye bye for now<br>
    BFN = bye for now<br>
    CWIM = see what I mean<br>
    DB = dear boyfriend<br>
    DC = dear child<br>
    DD = dear daughter<br>
    DF = dear fiancee<br>
    DG = dear girlfriend<br>
    DH = dear husband<br>
    DS = dear son<br>
    DSD = dear stepdaughter<br>
    DSS = dear stepson<br>
    DW = dear wife<br>
    EA = emotional affair<br>
    FIL = father-in-law<br>
    FML = fuck my life<br>
    FTR = for the record<br>
    FTW = for the win<br>
    FWIW = for what it’s worth<br>
    FYI = for your information<br>
    FFS = for fuck’s sake<br>
    GMTA = great minds think alike<br>
    GTG = got to go<br>
    HTH = hope this helps<br>
    IDK = I don’t know<br>
    IMHO = in my humble opinion<br>
    IMNSHO = in my not so humble opinion<br>
    IMO = in my opinion<br>
    IRL = in real life<br>
    J/J = just joking<br>
    J/K = just kidding<br>
    KWIM = know what I mean<br>
    LMAO = laughing my ass off<br>
    LOL = laughing out loud<br>
    LOLROF = laughing out load, rolling on floor<br>
    LTNS = long time no see LOL laughing out loud<br>
    MIL = mother-in-law<br>
    MYOB = mind your own business<br>
    NMS = not my style<br>
    NP = no problem<br>
    OC = original confessor<br>
    OMG = oh my gosh<br>
    OP = original poster<br>
    OT = off topic<br>
    OW = other woman<br>
    POV = point of view<br>
    PP = previous poster<br>
    ROFL = rolling on floor laughing<br>
    ROFLMAO = rolling on floor laughing my ass off<br>
    ROFLOL = rolling on floor laughing out loud<br>
    SAHD = stay-at-home dad<br>
    SAHM = stay-at-home mom<br>
    SAHP stay-at-home parent<br>
    SIL = sister-in-law<br>
    SO = significant other<br>
    SOL = shit out of luck<br>
    TMI = too much information<br>
    TIA = thanks in advance<br>
    TTFN = tata for now<br>
    TTYL = talk to you later<br>
    WAH = work at home<br>
    WB = welcome back<br>
    W/E = whatever<br>
    WTF = What the fuck<br>
    WTG = way to go<br>
    WOH = work out of the home<br>
    YW = you’re welcome</p>
</div>