/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
    margin: 0;
    padding: 0;
 }

body {
    font-size: 18px;
    font-family: 'Manrope', sans-serif;
    letter-spacing: 0.1px;
    line-height: 1.8em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    overflow-x: hidden;
 }

h1, h2, h3 {
    font-family: 'Corben', serif;
    letter-spacing: 0.6px;
 }

h6 {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
 }

.container {
    max-width: 700px;
    margin: 40px 0;
 }

.title-area {
    padding: 80px;
    background-color: silver;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-area h1 {
    margin-bottom: 20px;
}

.confession {
    margin: 20px;
    padding: 40px;
    border: 1px solid salmon;
    border-radius: 20px;
 }

.confession h2 {
    margin-bottom: 20px;
}

.confession p {
    margin-bottom: 15px;
}

.confession-body p {
    font-size: 20px;
    text-align: center;
}

/*** Forms ***/
input, select, textarea {
    display: block;
    width: 100%;
    margin: 6px 0;
    padding: 8px 12px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    border: 1px solid #6a7695;
    border-radius: 8px;
    box-sizing: inherit;
    box-sizing: border-box;
}

input:focus, select:focus, textarea:focus {
    border: 1px solid #263b5e;
    outline: none;
}

input[type='submit'] {
    color: #ffffff;
    padding: 15px 20px;
    background-color: black;
    margin-top: 20px;
    border: none;
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
}

input[type='submit']:hover {
    color: black;
    background-color: salmon;
}

.errors-container {
    font-size: 14px;
    line-height: 1.5em;
    padding: 15px;
    margin-bottom: 20px;
}